body{

margin:0;

font-family:sans-serif;

}

/* 背景 */

body::before{

content:"";

position:fixed;

top:0;
left:0;

width:100%;
height:100%;

background-image:url("../images/backgrounds/home.jpg");

background-size:cover;
background-position:center;

z-index:-2;

}

/* 暗いオーバーレイ */

body::after{

content:"";

position:fixed;

top:0;
left:0;

width:100%;
height:100%;

background:rgba(0,0,0,0.35);

z-index:-1;

}