body{

margin:0;
background:#e6e6e6;
font-family:sans-serif;

}


/* 上UI */

.top-ui{

display:flex;
align-items:center;

gap:20px;

padding:20px;

}


/* 戻るボタン */

.back{

width:60px;
height:60px;

background:#4f73b7;

border-radius:50%;

display:flex;
align-items:center;
justify-content:center;

font-size:30px;

cursor:pointer;

color:white;

}


/* キャラ一覧 */

.character-grid{

margin-left:120px;

padding:20px;

display:grid;

grid-template-columns:repeat(5,180px);

gap:40px;

}


/* キャラ */

.character{

width:180px;
height:230px;

display:flex;
flex-direction:column;

align-items:center;

cursor:pointer;

}


/* 属性フレーム */

.frame{

width:160px;
height:160px;

background-size:100% 100%;
background-repeat:no-repeat;
background-position:center;

display:flex;
align-items:center;
justify-content:center;

}


/* キャラ画像 */

.char-img{

width:140px;
height:140px;

object-fit:contain;

}


/* 名前 */

.name{

font-size:16px;

margin-top:8px;

text-align:center;

}


/* レアリティ */

.rarity{

color:gold;

font-weight:bold;

font-size:14px;

}